{% extends 'base.html' %}
{% block title %} About Us! {% endblock title %}
{% block body %}
{% load static %}

<style>
    .image{
        width: 100px;
    }
</style>


<div class="container">
    
    
<div class="container">
    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 about-title">
                    <h1 style="padding: 160px;">About Us!!</h1>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="img-fluid">
                        <img src="https://github.com/kothawleprem/chartz/blob/main/media/main5.png?raw=true"
                            alt="About us" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="img-fluid">
                        <img src="https://github.com/kothawleprem/chartz/blob/main/media/quickchart_logo.png?raw=true" alt="About us"
                            class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about-title">
                    <strong>
                        QuickChart is an API for generating chart images, PDFs, and QR codes. We're built on Chart.js, the most popular
                        open-source charting
                    </strong>
                    
                    <a type="button" href="/files" class="btn btn-warning">QuickChart</a>
                </div>
            </div>
        </div>
    </section>
<br>
<br>
<br>
<br>
        <section class="services-area" id="services">
            <div class="container"
                style="background: white;border-radius: 10px;box-shadow: 10px 10px 5px grey;">
                <div class="row">
                    <div class="col-lg-12 text-center service-title">
                        <h1 class="text-uppercase title-text">Technology</h1>
        
                    </div>
                </div>
                <div class="container services-list">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="services" style="border-radius: 10px;">
                                <div class="services-img text-center py-4">
                                    <img class="image"
                                        srcset="https://github.com/kothawleprem/chartz/blob/main/media/django.png?raw=true"
                                        alt="Service-1">
                                </div>
                                <h5 class="card-body text-uppercase text-center font-roboto">Django</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="services" style="border-radius: 10px;">
                                <div class="services-img text-center py-4">
                                    <img class="image" srcset="https://github.com/kothawleprem/chartz/blob/main/media/python.png?raw=true" alt="Service-1">
                                </div>
                                <h5 class="card-body text-uppercase text-center font-roboto">Python</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="services" style="border-radius: 10px;">
                                <div class="services-img text-center py-4">
                                    <img class="image"
                                        srcset="https://github.com/kothawleprem/chartz/blob/main/media/htmlcss.png?raw=true"
                                        alt="Service-1">
                                </div>
                                <h5 class="card-body text-uppercase text-center font-roboto">HTML & CSS</h5>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="services" style="border-radius: 10px;">
                                <div class="services-img text-center py-4">
                                    <img class="image" src="https://github.com/kothawleprem/chartz/blob/main/media/bootstrap.png?raw=true" alt="Service-1">
                                </div>
                                <h5 class="card-body text-uppercase text-center font-roboto">Bootstrap</h5>
                            </div>
                        </div>
        
        
                    </div>
                </div>
        
        
            </div>
        </section>
<br>
<br>

        <div class="container py-5">
            <div class="row mb-4">
        <div class="col-lg-12 text-center service-title">
            <h1 class="text-uppercase title-text">Our Team</h1>
        </div>

                </div>
            </div>
     <div class="row text-center">
 
   
                <!-- Team item-->
                <div class="col-xl-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://pbs.twimg.com/profile_images/1368812915965390851/n83dF28V_400x400.jpg" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Prem Kothawle</h5>
                        <button type="button" class="btn btn-primary"><i class="fab fa-github left"></i> Github</button>


                    </div>
                </div>
                <!-- End-->
    
                <!-- Team item-->
                <div class="col-xl-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://fiverr-res.cloudinary.com/t_profile_original,q_auto,f_auto/attachments/profile/photo/853a71bb0f859484926231c1afddaf06-1591471754498/ae708205-f8ce-4667-9159-8e9e97090085.jpeg" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Shubham Saroj</h5>
                        <button type="button" class="btn btn-primary"><i class="fab fa-github left"></i> Github</button>
                    </div>
                </div>
                <!-- End-->
 
            </div>
        </div>
    </div>

</div>

















<!-- 

<div class="col-lg-6 col-md-12 about-title">
    <center>
        <h2 class="text-uppercase pt-5">
            <span>Contact Me!</span>

        </h2>
        <div class="paragraph py w-75">
            <form action="/chartapp/" method="post">

                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">

                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" class="form-control " id="phone" name="phone">

                </div>
                <div class="form-group">
                    <label for="content">Describe</label>
                    <textarea class="form-control" name="content" id="content" name="content" cols="30"
                        row="5"></textarea>
                </div>
                <button type="submit" class="btn button primary-button text-upprrcase">Submit</button>
            </form>


    </center>

</div> -->
{% endblock body %}