{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% load crispy_forms_tags %}


{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container">
    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 about-title" style="padding-top: 80px;">
                    <h1 class="display-4" style="font-family: 'Poppins', sans-serif;">ChartBay</h1>
                    <h2 class="lead text-muted mb-0"> Create, Share & Analyse on the Go </h2>
                    <br>
                    <ul>
                        <li>
                            Enter your data to get instant results.
                        </li>
                        <li>
                            12 Different Types of Charts + QR Code in PNG or PDF Format.
                        </li>
                        <li>
                            Creates and delivers via E-mail within minutes for easy analysis.
                        </li>
                        <li>
                            Upload CSV files for large data.
                        </li>
                    </ul>
                    <a type="button" href="#generate" class="btn btn-warning">Get Started</a>
                </div>
                <div class="col-lg-6 col-md-12" style="padding-top: 40px;">
                    <div class="img-fluid">
                        <img src="https://github.com/kothawleprem/chartz/blob/main/media/main2.png?raw=true" alt="About us" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12" style="padding-top: 0px;">
                    <div class="img-fluid">
                        <img src="https://github.com/kothawleprem/chartz/blob/main/media/main1.png?raw=true" alt="About us"
                            class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about-title" style="padding-top: 0px;">
                    <h2 class="text-uppercase pt-5" style="font-family: 'lora', serif;">
                        <span>Have</span>
                        <span>A</span>
                        <span>CSV File?</span>
                    </h2>
                    <div class="paragraph py w-75">
                        <p class="para">
                            Just Upload and Get Charts in Your Inbox!
                        </p>
    
                    </div>
                    <a type="button" href="/files" class="btn btn-warning">Upload CSV File</a>
                </div>
            </div>
        </div>
    </section>


    <div id="form-main">
        <div id="form-div">
            <table>
    
                <form class="well form-horizontal" action="" method="post">
                    <h1>
                        <p id="generate" style="text-align:center; font-family: 'lora', sans-serif;">Don't Have A CSV file? We Got You Covered As Well </p>
                    </h1>
    
                    <fieldset>
                        {% csrf_token %}
                        {{ form.as_p }}
    
    
            </table>
            <!--  <input type="submit" value="Submit"> -->
            <button type="submit" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto  border-color:#9999ff"
                value="Submit"
                style="margin-left:auto;margin-right:auto;display:block;margin-top:9%;margin-bottom:0%">Generate
                Chart</button>
            </fieldset>
            </form>


<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 about-title" style="padding-top: 50px;">
                <h2 class="text-uppercase pt-5" style="font-family: 'lora', sans-serif;" >
                    <span>Do You</span>
                    <span>Know</span>
                    <span>These Charts?</span>
                </h2>
                <div class="paragraph py w-75" >
                    <p class="para" style="font-family: 'lora', sans-serif;">
                        Bar | Line | Pie | Radar | Doughnut | Polar Area | Scatter | Bubble | Radial Gauge | Violin | Sparkline | Progress Bar 
                    </p>

                </div>
                <a type="button" href="/charts" class="btn btn-warning">Charts Info!</a>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="img-fluid">
                    <img src="https://github.com/kothawleprem/chartz/blob/main/media/main3.png?raw=true" alt="About us" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="img-fluid">
                    <img src="https://github.com/kothawleprem/chartz/blob/main/media/main4.png?raw=true" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title" style="padding-top: 40px;">
                <h2 class="text-uppercase pt-5" style="font-family: 'lora', sans-serif;">
                    <span>Our</span>
                    <span>Technology</span>
                </h2>
                <div class="paragraph py w-75">
                    <p class="para" style="font-family: 'lora', sans-serif;">
                        We use Open Source API's for the smooth process you want!
                    </p>

                </div>
                <a type="button" href="/about/" class="btn btn-warning">About Us</a>
            </div>
        </div>
    </div>
</section>
<!--End About Area -->
</div>
</div>
</div>

{% endblock body %}