{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
</br>
</br>
</br>
</br>


    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 about-title" style="padding-top: 70px;">
                    <h1 class="display-4" style="font-family: 'lora', sans-serif;">ChartBay : Upload your CSV File</h1>
                    <form action="{% url "upload_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-group">
                            <label f or="name"></label>
                            <div>
                                <input type="file" name="csv_file" id="csv_file" required="True" class=" btn-warning form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button  class="btn btn-primary">Upload CSV</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="img-fluid">
                        <img src="media/main7.png" alt="About us" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12" style="padding-top: 0px;">
                    <div class="img-fluid">
                        <img src="https://github.com/kothawleprem/chartz/blob/main/media/format.PNG?raw=true" alt="About us"
                            class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about-title" style="padding-top: 0px;">
                    <h2 class="text-uppercase pt-5" style="font-family: 'lora', serif;">
                        <span>Format</span>
                        <span>Of</span>
                        <span>CSV File</span>
                    </h2>
                    <div class="paragraph py w-75">
                        <p class="para">
                            1st five rows are Reserved!!
                        </p>

    
                    </div>
                    <a type="button" href="https://srv-store3.gofile.io/download/3M1WgZ/4604ef3d35684e673adfc97a1e84295c/data.csv" class="btn btn-warning" >Sample CSV File</a>
                </div>
            </div>
        </div>
    </section>
</div>
</br>
</br>
</br>
</br>

{% endblock body %}